 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
body{
    display: grid;
    grid-template-areas: "header"
    "main"
    "footer";
}



header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
    color: #ddd;
    display: flex;
    justify-content: center;
    background: linear-gradient(
    180deg,
    RGB(28, 8, 20) 0%,
    rgb(19, 5, 13) 100%
  );
}

a{
  text-decoration: none;
  color: inherit; 
}


.main-title {
  width: 100%;
  height: 100vh;
  background-image: url("https://www.showmetech.com.br/wp-content/uploads//2021/11/black-friday-os-melhores-notebooks-e-computadores-para-aproveitar-a-data.png?is-pending-load=1");
  background-size: cover;
}
h1 {
  color: #ddd;
  font-size: 2rem;
}
.opacity {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(32, 12, 24) 0%,
    rgba(0, 0, 0, 0.3) 50%,
    rgba(28, 8, 20) 100%
  );
  height: 100%;
  width: 100%;
}

header nav ul {
  width: 100%;
  height: 3.5rem;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(28, 8, 20, 0.3) 100%
  );
  position: fixed;
  color: #ddd;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li {
  margin: 5px;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: bold;
}
section {
  background: linear-gradient(
    180deg,
    rgba(28, 8, 20) 0%,
    rgba(53, 23, 39) 60%,
    rgba(28, 8, 20) 100%
  );
}

.grid {
  display: grid;
  justify-content: center;  
  justify-items: center;
  padding: 1rem 5rem;
  grid-template-columns:repeat(auto-fit, minmax(300px,20%));
}

.section-title{
    padding: 0 2rem;
}

.project-item {
    
  display: grid;
  grid-template-areas:
    "project-photo"
    "project-name"
    "project-description";
    
}

.project-title, .project-description{
    margin: 0rem 3rem;
    color: #ddd;
} 

.project-title{
  position: relative;
  bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
}


.project-description{
  text-align: center;
  font-size: 1.2rem;
}

.tech-title{
  color: #ddd;
  text-align: center;
  height: 5%;
}

.tech-round-photo{
  background-color: rgba(22, 11, 26, 0.555);
  display: flex;
  justify-content: center;
  height: 85%;
  width: 85%;
  margin: 5%;
  align-items: center;
  border-radius: 100%;
}
.tech_item{
  display: flex;
  justify-content: center;
  align-items: center;
  align-items: center;
  flex-direction: column;
  width: 350px;
  height: 350px;
  
}